<p>Para empezar a usar la página web, lo primero que hay que hacer es crear una cuenta, que se guardará en una base de datos.</p>
<img src="./../../../assets/images/help1.png" alt="">
<br>
<br>
<p>Si ya se tiene una cuenta creada, solo habrá que introducir el correo electrónico y la contraseña para poder iniciar sesión.</p>
<img src="./../../../assets/images/help2.png" alt="">
<br>
<br>
<p>Una vez el usuario este registrado, aparecerán las categorías disponibles.</p>
<img src="./../../../assets/images/help3.png" alt="">
<br>
<br>
<p>Al seleccionar una de las categorías, aparecerán los productos disponibles.</p>
<img src="./../../../assets/images/help4.png" alt="">
<br>
<br>
<p>Una vez seleccionado el producto, al pulsar el botón de comprar, nos lleva a la página donde está disponible el producto.</p>
<img src="./../../../assets/images/help5.png" alt="">
<br>
<br>
<p>Para poder salir, habrá que pulsar cerrar sesión, donde nos trasladará a la página de inicio.</p>
<img src="./../../../assets/images/help6.png" alt="">
<br>
<br>
