<p>En este sitio web se muestran las distintas categorías y sus diferentes productos que estarían disponibles para su compra online.
<br>Dentro de cada una de las categorías están detallados todos los productos disponibles, sus características (con una imagen del producto) y le posibilita la opción de compra.</p>
<div class="text-center">
  <img src="./../../../assets/images/home1.jpg" alt="">
</div>
<br>
<p>El sitio web está orientado especialmente a consumidores de este tipo de productos.</p>
